{% extends "admin/change_form.html" %}
{% load i18n l10n static admin_urls %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% static "admin/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block content %}
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
<div id="content" class="colM">
 {% for form in formset %}
  <h2>{{ form.instance }}</h2>
  <div id="content-main">
   <form method="POST" action="" target="_blank">
    {% csrf_token %}
    <input type="hidden" name="action" value="export_resume">
    <input type="hidden" name="_selected_action" value="{{ form.instance.id }}">
    <fieldset class="module aligned ">
     <div class="form-row">
      <div class="field-box">
       <label>{{ form.hide_image.label }}:</label>
       {{ form.hide_image }}
      </div>
      <div class="field-box">
       <label>{{ form.hide_resume.label }}:</label>
       {{ form.hide_resume }}
      </div>
     </div>
     <div class="form-row">
      <div class="field-box">
       <label>{{ form.hide_phone.label }}:</label>
       {{ form.hide_phone }}
      </div>
      <div class="field-box">
       <label>{{ form.hide_city.label }}:</label>
       {{ form.hide_city }}
      </div>
      <div class="field-box">
       <label>{{ form.hide_country.label }}:</label>
       {{ form.hide_country }}
      </div>
      <div class="field-box">
       <label>{{ form.hide_address.label }}:</label>
       {{ form.hide_address }}
      </div>
     </div>
     <div class="form-row">
      <div class="field-box">
       <label>{{ form.hide_email.label }}:</label>
       {{ form.hide_email }}
      </div>
      <div class="field-box">
       <label>{{ form.hide_website.label }}:</label>
       {{ form.hide_website }}
      </div>
      <div class="field-box">
       <label>{{ form.hide_skype.label }}:</label>
       {{ form.hide_skype }}
      </div>
      <div class="field-box">
       <label>{{ form.hide_twitter.label }}:</label>
       {{ form.hide_twitter }}
      </div>
      <div class="field-box">
       <label>{{ form.hide_stackoverflow.label }}:</label>
       {{ form.hide_stackoverflow }}
      </div>
      <div class="field-box">
       <label>{{ form.hide_github.label }}:</label>
       {{ form.hide_github }}
      </div>
     </div>
     <div class="form-row">
      <div class="field-box">
       <label for="id_experiences">{{ form.experiences.label }}:</label>
       {{ form.experiences }}
      </div>
      <div class="field-box">
       <label for="id_hide_experience_description">{{ form.hide_experience_description.label }}:</label>
       {{ form.hide_experience_description }}
      </div>
      <div class="field-box">
       <label for="id_hide_experience_environment">{{ form.hide_experience_environment.label }}:</label>
       {{ form.hide_experience_environment }}
      </div>
     </div>
     <div class="form-row">
      <div class="field-box">
       <label for="id_projects">{{ form.projects.label }}:</label>
       {{ form.projects }}
      </div>
      <div class="field-box">
       <label for="id_hide_project_contribution">{{ form.hide_project_contribution.label }}:</label>
       {{ form.hide_project_contribution }}
      </div>
      <div class="field-box">
       <label for="id_hide_project_url">{{ form.hide_project_url.label }}:</label>
       {{ form.hide_project_url }}
      </div>
     </div>
     <div class="form-row">
      <div class="field-box">
       <label for="id_skills">{{ form.skills.label }}:</label>
       {{ form.skills }}
      </div>
     </div>
     <div class="form-row">
      <div class="field-box">
       <label for="id_trainings">{{ form.trainings.label }}:</label>
       {{ form.trainings }}
      </div>
      <div class="field-box">
       <label for="id_hide_training_description">{{ form.hide_training_description.label }}:</label>
       {{ form.hide_training_description }}
      </div>
     </div>
     <div class="form-row">
      <div class="field-box">
       <label for="id_certifications">{{ form.certifications.label }}:</label>
       {{ form.certifications }}
      </div>
      <div class="field-box">
       <label for="id_hide_certification_description">{{ form.hide_certification_description.label }}:</label>
       {{ form.hide_certification_description }}
      </div>
     </div>
     <div class="form-row">
      <label for="id_languages">{{ form.languages.label }}:</label>
       {{ form.languages }}
     </div>
    </fieldset>
    <div class="submit-row">
     <input type="submit" value="{% trans "Export" %}" class="default" name="_export">
    </div>
   <form>
  </div>
 {% endfor %}
</div>
{% endblock %}
