{% load i18n curriculum %}

<style type="text/css">
@page {
  size: {{ pagesize }};
  margin: 0px;
}
* {
  font-size: 15px;
  height: 0px;
  padding: 2px;
  margin: 0px;
  line-height: 15px;
  text-indent: 0px;
  list-style-type: none;
}
table {
  -pdf-keep-in-frame-mode: shrink;
}
#top {
  padding: 10px;
  text-align: center;
}
#top #title {
  font-size: 30px;
}
#side-bar {
  padding: 10px;
  vertical-align: top;
  width: 400px;
}
#side-bar ul {
  margin-left: 10px;
}
#images-bar {
  text-align: center;
}
#content-bar {
  padding: 10px;
  padding-left: 30px;
  vertical-align: top;
}
#content-bar .h1 {
  font-size: 21px;
  text-decoration: underline;
  text-align: center;
}
#content-bar .h2 {
  font-size: 19px;
}
#footer {
  line-height: 0px;
}
.blue-background {
  background-color: #002e40;
  color: #FFFFFF;
}
.light-blue-background {
  background-color: #0C516C;
  color: #FFFFFF;
}
.blue-background a, .light-blue-background a {
  color: #FFF;
}
.grey-background {
  background-color: #DBDBDB;
  color: #444;
}
.grey-background a {
  color: #444;
  font-size: 19px;
}
.padding td {
  text-align: right;
  vertical-align: bottom;
  line-height: 50px;
}
</style>

<div class="bodyContent">
 <table style="width:100%">
  <tr>
   <td id="top" class="blue-background" colspan="2">
    <b id="title">{{ resume.firstname }} {{ resume.lastname }} - {{ resume.title }}</b>
    <br><br>
    <i>{{ resume.resume }}</i>
   </td>
  </tr>

  <tr>
   <td id="side-bar" class="light-blue-background">
    <p id="images-bar">
    {% if resume.image %}
    <img height="100" width="100" src="{{ resume.image.url }}"/>
    {% endif %}
    <img height="100" width="100" src="{{ resume.website_qrcode }}"/>
    <p>
    <b>{% trans "Contact" %}</b>
    <ul>
     <li><b>{% trans "Phone" %}:</b> {{ resume.phone }}</li>
     <li><b>{% trans "Email" %}:</b> <a href="mailto:{{ resume.email }}">{{ resume.email }}</a></li>
     <li><b>{% trans "Website" %}:</b> {{ resume.website|shortlink|safe }}</li>
    </ul>
    <b>{% trans "Skills" %}</b>
    <ul>
     {% for skill in skills %}
     <li>{{ skill }} - {{ skill.get_level_display|capfirst }}</li>
     {% endfor %}
    </ul>
    <b>{% trans "Languages" %}</b>
    <ul>
     {% for language in resume.languages.all %}
     <li>{{ language }} - {{ language.get_level_display|capfirst }}</li>
     {% endfor %}
    </ul>
    <b>{% trans "Driving license" %}:</b><br>{{ resume.driving_license }}
    <br><br>
    <b>{% trans "Hobbies" %}:</b><br>{{ resume.hobbies }}
   </td>

   <td id="content-bar" class="grey-background">
    <b class="h1">{% trans "Projects" %}</b>
    <div>
     {% for project in projects %}
      <b class="h2">{{ project.project.url|shortlink:project|safe }}</b>
      <small>{% daterange_display project.start_year project.start_month project.end_year project.end_month %}</small>
      <br>
      {{ project.contribution|linebreaksbr }}
      <br><br>
     {% endfor %}
    </div>

    <b class="h1">{% trans "Experiences" %}</b>
    <div>
     {% for experience in experiences %}
      <b class="h2">{{ experience }}</b>
      <small>{% daterange_display experience.start_year experience.start_month experience.end_year experience.end_month %}</small>
      <br>
      {{ experience.description|linebreaksbr }}
      <br><br>
     {% endfor %}
    </div>

    <b class="h1">{% trans "Trainings" %}</b>
    <div>
     {% for training in trainings %}
     <b class="h3">{{ training.degree }} in {{ training.topic }}</b>
      <small>{% daterange_display training.year training.month %}</small>
      <br><br>
     {% endfor %}
    </div>

    <b class="h1">{% trans "Certifications" %}</b>
    <div>
     {% for certification in certifications %}
      <b class="h3">{{ certification }}</b>
      <small>{% daterange_display certification.start_year certification.start_month %}</small>
     {% endfor %}
    </div>
    <br>
   </td>
  </tr>

 </table>
</div>
