{% load curriculum static i18n %}
<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  
  <title>{{ resume }}</title>
  
  <meta name="description" content="{{ resume.description }}">
  <meta name="author" content="{{ resume.firstname }} {{ resume.lastname }}">
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  
  <link rel="stylesheet" href="{% static "css/reveal.css" %}">
  <link rel="stylesheet" href="{% static "css/theme_black.css" %}" id="theme">
  <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
  
  <!-- Code syntax highlighting 
  <link rel="stylesheet" href="lib/css/zenburn.css">
  -->
  
  <!-- Printing and PDF exports
  <script>
   var link = document.createElement('link');
   link.rel = 'stylesheet';
   link.type = 'text/css';
   link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
   document.getElementsByTagName('head')[0].appendChild(link);
  </script>
  -->
  
  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
  <![endif]-->
 </head>
 
 <body>
  <div class="reveal">
  <!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides" >
   <section>
     <h1>{{ resume.firstname }} {{ resume.lastname }}</h1>
    <section>
     <h3 class="fragment">{{ resume.title }}</h3>
     <i class="fragment">{{ resume.resume }}</i>
    </section>
    <section>
     <h3>{% trans "Contact" %}</h3>
     <p>{% trans "Location" %}: {{ resume.city|default:"" }} {{ resume.country|default:"" }}<br>{{ resume.address }}</p>
     {% if resume.phone %}<p>{% trans "Phone" %}: <a href="tel:{{ resume.phone }}">{{ resume.phone }}</a></p>{% endif %}
     {% if resume.email %}<p>{% trans "Email" %}: <a href="mailto:{{ resume.email }}">{{ resume.email }}</a></p>{% endif %}
     {% if resume.website %}<p>{% trans "Website" %}: <a href="{{ resume.website }}" target="blank">{{ resume.website }}</a></p>{% endif %}
    </section>
    <section>
     {% if resume.website %}
     <p>
     <a href="{{ resume.website }}" target="blank">
     {% if resume.image %}<img height="20%" width="20%" src="{{ resume.image.url }}"/>{% endif %}
     {% if resume.website %}<img height="20%" width="20%" src="{{ resume.website_qrcode }}"/>{% endif %}
     </p>
     </a>
     {% endif %}

     {% if resume.email %}<a href="mailto:{{ resume.email }}" target="blank"><i class="fa fa-send fa-3x"></i></a>{% endif %}
     {% if resume.twitter %}<a href="https://twitter.com/{{ resume.twitter }}" target="blank"><i class="fa fa-twitter fa-3x"></i></a>{% endif %}
     {% if resume.stackoverflow %}<a href="http://stackoverflow.com/users/{{ resume.stackoverflow }}/" target="blank"><i class="fa fa-stack-overflow fa-3x"></i></a>{% endif %}
     {% if resume.github %}<a href="https://github.com/{{ resume.github }}" target="blank"><i class="fa fa-github fa-3x"></i></a>{% endif %}
     {% if resume.google %}<a href="https://plus.google.com/u/0/{{ resume.google }}" target="blank"><i class="fa fa-google-plus fa-3x"></i></a>{% endif %}
     {% if resume.linkedin %}<a href="https://linkedin.com/in/{{ resume.linkedin }}" target="blank"><i class="fa fa-linkedin fa-3x"></i></a>{% endif %}
     {% if resume.skype %}<a href="skype:{{ resume.skype }}" target="blank"><i class="fa fa-skype fa-3x"></i></a>{% endif %}
<!-- <a href="https://angel.co/anthony-monthe" target="blank"><i class="fa fa-angellist fa-3x"></i></a> -->
    </section>
   </section>
  
   {% if skills %}
    {% regroup skills by category as skills_grouped %}
    <section>
     <section>
      <h1>{% trans "Skills" %}</h1>
      {% if resume.skill_summary %}
      <i class="fragment">{{ resume.skill_summary|linebreaksbr }}</i>
      {% endif %}
     </section>
     {% for skill_subgroup in skills_grouped %}
     <section tagcloud>
      <h4>{{ skill_subgroup.grouper }}</h4>
      {% for skill in skill_subgroup.list %}
      <a href="{{ skill.skill.url }}" target="blank" style="color: #{{ skill.skill.color }};">{{ skill }}</a>
      {% endfor %}
     </section>
     {% endfor %}
    </section>
   {% endif %}

   {% if experiences %}
    <section>
     <section>
     <h1>{% trans "Experiences" %}</h1>
      {% if resume.experience_summary %}
      <i class="fragment">{{ resume.experience_summary|linebreaksbr }}</i>
      {% endif %}
     </section>
     {% for experience in experiences %}
      <section>
       <h2>{{ experience }}</h2>
       <h4 class="date_subtitle">{% daterange_display experience.start_year experience.start_month experience.end_year experience.end_month %}</h4>
       <q style="text-align: left;"><div class="fragment">{{ experience.description|linebreaksbr }}</div></q>
      </section>
     {% endfor %}
    </section>
   {% endif %}

   {% if trainings %}
    <section>
     <section>
      <h1>{% trans "Trainings" %}</h1>
      {% if resume.training_summary %}
      <i class="fragment">{{ resume.training_summary|linebreaksbr }}</i>
      {% endif %}
     </section>
     {% for training in trainings %}
      <section>
       <h2>{{ training.degree }} in {{ training.topic }}</h2>
       <h4 class="date_subtitle">{% daterange_display training.year training.month %}</h4>
       <q style="text-align: left;"><div class="fragment">{{ training.description|linebreaks }}</div></q>
      </section>
     {% endfor %}
    </section>
   {% endif %}
  
   {% if projects %}
    <section>
     <section>
      <h1>{% trans "Projects" %}</h1>
      {% if resume.project_summary %}
      <i class="fragment">{{ resume.project_summary|linebreaksbr }}</i>
      {% endif %}
     </section>
     {% for project in projects %}
      <section>
       <h2>
        {{ project }}
        {% if project.project.url %}<a href="{{ project.project.url }}" target="blank"><i class="fa fa-github fa-1x"></i></a>{% endif %}
        
       </h2>
       <h4 class="date_subtitle">{% daterange_display project.start_year project.start_month project.end_year project.end_month %}</h4>
       <i class="fragment">{{ project.contribution|linebreaksbr }}</i>
      </section>
     {% endfor %}
    </section>
   {% endif %}

   {% if certifications %}
    <section>
     <section>
     <h1>{% trans "Certifications" %}</h1>
     </section>
     {% for certification in certifications %}
      <section>
       <h1>{{ certification }}</h1>
       <h4 class="date_subtitle">{% daterange_display certification.start_year certification.start_month certification.end_year certification.end_month %}</h4>
       <i class="fragment">{{ certification.certification.description|linebreaksbr }}</i>
      </section>
     {% endfor %}
    </section>
   {% endif %}

   {% if resume.hobbies or resume.driving_license %}
    <section>
     <section><h1>{% trans "Miscellaneous" %}</h1></section>
      <section>
       {% if resume.hobbies %}
        <div class="fragment">
         <h3>{% trans "Hobbies" %}</h3>
         {{ resume.hobbies }}
        </div>
       {% endif %}
       <br>
       {% if resume.driving_license %}
        <div class="fragment">
         <h3>{% trans "Driving license" %}</h3>
         {{ resume.driving_license }}
        </div>
       {% endif %}
      </section>
    </section>
   {% endif %}

   <section>
    <h1>{% trans "That's me !" %}</h1>
    <h3>{% trans "Press ESC for get an overview" %}</h3>
    {% if resume.website %}
    <h4>{% trans "or" %}</h4>
    <h3>{% trans "Go back to" %} <a href="{{ resume.website }}">{% trans "my website" %}</h3>
    {% endif %}
   </section>
  
  </div>
  
  </div>
  
  <script src="{% static "js/head.min.js" %}"></script>
  <script src="{% static "js/reveal.js" %}"></script>
  
  <script>
  
  // Full list of configuration options available at:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
  controls: true,
  progress: true,
  history: false,
  center: true,
  
  transition: 'slide', // none/fade/slide/convex/concave/zoom
  
  // Optional reveal.js plugins
  dependencies: [
    { src: '{% static "js/tagcloud.js" %}', async: true }
  // { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
  // { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
  // { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
  // { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
  // { src: 'plugin/zoom-js/zoom.js', async: true },
  // { src: 'plugin/notes/notes.js', async: true }
  ]
  });
  
  </script>
 
 </body>
</html>
